<div class="container_333">
       <header class="clear">
           <a href="#" class="back1  ">&lt;</a>
           <span class="mine-head-color">账户安全</span>
       </header>
       <div class="my-zh-safe-main">
           <div class="my-zh-safe">
               <div>
                   <div class="left">手机认证</div>
                   <div class="right red">188*****270（已认证）</div>
               </div>
               <div ng-click="jump('/smrz')">
                   <div class="left">实名认证</div>
                   <div class="right">&gt;&gt;</div>
               </div>
               <div>
                   <div class="left">银行卡认证</div>
                   <div class="right">&gt;&gt;</div>

               </div>
               <div>
                   <div class="left">收货信息认证</div>
                   <div class="right">&gt;&gt;</div>
               </div>

           </div>
           <div class="my-zh-mm">
               <div ng-click="jump('/dlmm')">
                   <div class="left">支付密码设置</div>
                   <div class="right">&gt;&gt;</div>
               </div>
               <div ng-click="jump('/yzsj')">
                   <div class="left" >登录密码设置</div>
                   <div class="right">&gt;&gt;</div>
               </div>
           </div>
           <div class="my-zh-yx">
               <div ng-click="jump('/yxrz')">
                   <div class="left">邮箱绑定</div>
                   <div class="right">&gt;&gt;</div>
               </div>
           </div>

       </div>
       <div class="btn_dl">
           退出登录
       </div>
   </div>
