    <div class="container_333">
        <div class="mine-head">

            <div class="mine-head-top">
                <img src="img/gunlun.png" alt=""/>
                <img src="img/gunlun.png" alt=""/>
                <img src="img/gunlun.png" alt=""/>
                <img src="img/gunlun.png" alt=""/>
                <h1>
                    欢迎你，<span>P00000000</span>
                </h1>
                <div id="shouyi">0.00</div>
                <div>累计收益（元）</div>
            </div>
            <div class="mine-head-mid clear">
                <div class="clear">
                    <div>0.00</div>
                    <div>账户余额（元）</div>
                </div>
                <div id="mine-head-mid-fgt"></div>
                <div class="clear">
                    <div>0.00</div>
                    <div>总资产（元）</div>
                </div>
            </div>
            <div class="mine-head-bottom">
                <div>
                    <span></span>
                </div>
                <div>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="mine-content">
            <div class="mine-navigation">
                <ul class="clear">
                    <li ng-click="jump('/minewater')">
                        <div>
                            <div><img src="img/mine-zh.png" alt=""/></div>
                            <span>账户流水</span>
                        </div>
                    </li>
                    <li ng-click="jump('/minetz')">
                        <div>
                            <div><img src="img/mine-tz.png" alt=""/></div>
                            <span>我的投资</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div><img src="img/mine-tj.png" alt=""/></div>
                            <span>推荐返利</span>
                        </div>
                    </li>
                    <li ng-click="jump('/fl')">
                        <div>
                            <div><img src="img/mine-fl.png" alt=""/></div>
                            <span>福利中心</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div><img src="img/mine-xs.png" alt=""/></div>
                            <span>新手标</span>
                        </div>
                    </li>
                    <li>
                        <div ng-click="jump('/minesafe')">
                            <div><img src="img/mine-hu.png" alt=""/></div>
                            <span>账户安全</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <footer class="btnList clear">
        <a href="#/activity">
            <span class="hd">活动</span>
        </a>
        <a  href="#/product1" >
            <span class="cp">产品</span>
        </a>
        <a class="sy" ng-click="jump('/start')">
            <img src="img/sy.png" alt=""/>
            <br/>
            <div>首页</div>
        </a>
        <a  href="#/fx">
            <span class="fx">分享</span></a>
        <a  href="#" class="active">
            <span class="wd">我的</span>
        </a>
    </footer>

